body {
    margin: 0;
}


header {
    min-height: 70px;
    width: 100%;
    .navbar {
        background: blueviolet;
        color: #fff;
        min-height: 70px;
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
    
        ul {
            display: flex;
            list-style: none;
            width: 100%;
    
            li {
                margin-right: 1rem;
                transition: all .2s;
                cursor: pointer;
                font-size: 1.2rem;
            }
            li:hover {
                opacity: .6;
            }
        }
    }
}

.container {
    display: grid;
    grid-auto-rows: 80vh;
    grid-template-rows: 80vh 50vh;
    
    .box {
        background: salmon;
        text-align: center;
        color: #fff;
        display: grid;
        grid-template-columns: 6.5fr 3fr;

        .azul {
            background: cornflowerblue;
        }

        .gris {
            background: dimgrey;
        }
        // border-radius: 10px;
    }

    .fila2 {
        grid-template-columns: 4fr 6fr;
        .azul {
            background: firebrick;
        }
    }
}
