body {
  margin: 0; }

header {
  min-height: 70px;
  width: 100%; }
  header .navbar {
    background: blueviolet;
    color: #fff;
    min-height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%; }
    header .navbar ul {
      display: flex;
      list-style: none;
      width: 100%; }
      header .navbar ul li {
        margin-right: 1rem;
        transition: all .2s;
        cursor: pointer;
        font-size: 1.2rem; }
      header .navbar ul li:hover {
        opacity: .6; }

.container {
  display: grid;
  grid-auto-rows: 80vh;
  grid-template-rows: 80vh 50vh; }
  .container .box {
    background: salmon;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: 6.5fr 3fr; }
    .container .box .azul {
      background: cornflowerblue; }
    .container .box .gris {
      background: dimgrey; }
  .container .fila2 {
    grid-template-columns: 4fr 6fr; }
    .container .fila2 .azul {
      background: firebrick; }
